asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
Django==5.1.7
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.15.2
idna==3.10
pdfminer==20191125
pdfminer.six==20240706
pillow==11.1.0
psycopg2-binary==2.9.10
pycparser==2.22
pycryptodome==3.21.0
python-dotenv==1.0.1
requests==2.32.3
sqlparse==0.5.3
tzdata==2025.1
urllib3==2.3.0
